@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: auto;
  padding: 5% 10px 0;

  margin: auto;
}

#login_section {
  position: relative;

  z-index: 1;
  background: #ffffff;
  max-width: 450px;
  margin: 0 auto 100px;
  padding: 45px;
  box-shadow:
    0 0 5px 0 rgba(0, 0, 0, 0.2),
    0px 0px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 10px;
}

.form {
  text-align: left;
}

.form input {
  font-family: 'Roboto', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 5px;
}

.form button,
.form-btn {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.form button:hover,
.form button:active,
.form button:focus,
.form-btn:hover {
  background: #6896ad;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #4caf50;
  text-decoration: none;
}

.form .register-form {
  display: none;
}

.error {
  border: 1px solid #ef5350 !important;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.container:before,
.container:after {
  content: '';
  display: block;
  clear: both;
}

.container .info {
  margin: 50px auto;
  text-align: center;
}

.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}

.container .info span a {
  color: #000000;
  text-decoration: none;
}

.container .info span .fa {
  color: #ef3b3a;
}

body {
  background: #607d8b;
  /* fallback for old browsers */
}

.help_text {
  color: #607d8b;
  font-weight: bold;
}

.help_text:hover,
.help_text:active,
.help_text:focus {
  text-decoration: none;
}

.label-login {
  color: #607d8b;
}

.title-outer {
  display: block;
}

.logo-image {
  width: 100%;
  height: 150px;
}

.loading {
  width: 100%;
  font-size: 36px;
  font-family: serif;
  font-weight: bold;
  letter-spacing: 4.4px;
  text-transform: capitalize;
  overflow: hidden;
  line-height: 2;
}

.loading::before {
  color: rgb(120, 120, 120);
  content: attr(data-loading-text);
}

.signup {
  padding-bottom: 10px;
}

.signup-btn {
  border: 2px solid #607d8b8a !important;
  color: #000000 !important;
  background-color: #607d8b59;
}

.login-btn {
  background: #607d8b;
}

.submit {
  background-color: #627777;
}

.ptag {
  padding-top: 10px;
  text-align: center;
}

.show-password {
  display: flex;
  align-items: baseline;
}

.cursor {
  cursor: pointer;
}

.error-msg {
  color: red;
  font-weight: 500;
  padding-bottom: 5px;
}

.body {
  text-align: center;
  padding: 40px 0;
  background: #ebf0f5;
}
.heading {
  color: #88b04b;
  font-family: 'Nunito Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 10px;
}
.sub-heading {
  color: #404f5e;
  font-family: 'Nunito Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  margin: 0;
}
.check-mark {
  color: #9abc66;
  font-size: 100px;
  line-height: 200px;
  margin-left: -15px;
}
.card {
  background: white;
  padding: 60px;
  border-radius: 4px;
  box-shadow: 0 2px 3px #c8d0d8;
  display: inline-block;
  margin: 0 auto;
}
.buttonload {
  background-color: #627777;
}
.password-container {
  position: relative;
  text-align: end;
}
.toggle-password-top-right {
  top: 15px;
  position: absolute;
  right: 15px;
  cursor: pointer;
}
