<html>
  <head>
    <link rel="icon" href="../favicon.png" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link href="../css/private_login.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="./favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
  </head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
    type="text/javascript"
  ></script>

  <title>Retenzy - Reset Password</title>

  <body>
    <div class="login-page">
      <input type="hidden" name="_token" value="{{csrf_token()}}" />
      <div class="form" id="login_section">
        <div class="title-outer">
          <div class="loading">
            <img class="logo-image" src="../f-logo.png" alt="Retenzy " />
          </div>
        </div>
        <div id="buttons">
          <form class="login-form" id="myForm" onsubmit="resetFunction()">
            <label class="label-login">Enter email address</label>
            <input
              type="email"
              name="email"
              id="email_id"
              required=""
              placeholder="Email Address"
            />
            <label class="label-login">Enter new password</label>
            <div class="password-container">
              <input
                type="password"
                name="new_password"
                id="new_password"
                required=""
                placeholder="New password"
              />
              <div class="toggle-password-top-right">
                <i
                  class="far fa-eye"
                  id="togglePassword"
                  onclick="showPasswordBtn1()"
                ></i>
              </div>
            </div>
            <label class="label-login">Confirm Password</label>
            <div class="password-container">
              <input
                type="password"
                name="confirm_password"
                id="confirm_password"
                required=""
                placeholder="Confirm password"
              />
              <div class="toggle-password-top-right">
                <i
                  class="far fa-eye"
                  id="togglePassword"
                  onclick="showPasswordBtn2()"
                ></i>
              </div>
            </div>
            <div class="error-msg" id="error-msg"></div>
            <div id="reset-btn">
              <button class="login-btn" type="reset-btn" id="reset">
                Reset
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script>
      function showPasswordBtn1() {
        var element = document.getElementById('new_password');
        if (element.type === 'password') {
          element.type = 'text';
        } else {
          element.type = 'password';
        }
      }

      function showPasswordBtn2() {
        var element = document.getElementById('confirm_password');
        if (element.type === 'password') {
          element.type = 'text';
        } else {
          element.type = 'password';
        }
      }

      const resetFunction = async () => {
        event.preventDefault();
        document.getElementById('reset-btn').innerHTML = `
      <button class="buttonload" id="buttonload disabled">
      <i class="fa fa-circle-o-notch fa-spin"></i>
      </button>`;
        let email = document.getElementById('email_id').value;
        let new_password = document.getElementById('new_password').value;
        let confirm_password =
          document.getElementById('confirm_password').value;
        if (confirm_password != new_password) {
          document.getElementById('error-msg').innerHTML =
            '&#9432 both passwords should be same.';
          let element = document.getElementById('reset-btn');
          if (element) {
            element.innerHTML = `<button class="login-btn" type="reset-btn" id="reset">Reset</button>`;
          }
          return false;
        }
        let payload = {
          email: email,
          new_password: new_password,
        };
        const options = {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(payload),
        };
        let response = await fetch('/auth/private/password-reset', options);
        let data = await response.json();
        if (data.status != 200) {
          document.getElementById('error-msg').innerHTML =
            `&#9432 ${data.message}`;
          let element = document.getElementById('reset-btn');
          if (element) {
            element.innerHTML = `<button class="login-btn" type="reset-btn" id="reset">Reset</button>`;
          }
        } else {
          document.getElementById('myForm').innerHTML = `
        <div class="body card">
        <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        <i class="check-mark">✓</i>
        </div>
        <h1 class="heading">Success</h1> 
        <p class="sub-heading" style="font-size: 17px">Password updated successfully <br/>Please <a href="/private/login">login<a/></p>
        </div>`;
          let element = document.getElementById('reset-btn');
          if (element) {
            element.innerHTML = `<button class="login-btn" type="reset-btn" id="reset">Reset</button>`;
          }
        }
      };
    </script>
  </body>
</html>
